/* GrievanceForm.css */
.grievance-form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .grievance-form {
    max-width: 500px;
    width: 100%; /* Stretch to screen width */
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
  }
  
  label, p {
    font-weight: bold;
    margin-bottom: 5px; /* Add some space between label and input */
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="date"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 180px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .fileupload {
    margin-top: 30px;
    margin-bottom: 10px;

  }
  